<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="x-icon" href="https://scif.iitdh.ac.in/wp-content/uploads/2021/02/LOGO.png">
    <link rel="stylesheet" href="orders_style.css">
</head>

<body>
    <div class="mainbox">
        <nav>
            <div class="logo">
                <img src="images/logo-black-final-5@2x.png" alt="">
            </div>
            <div class="nav2">
                <div class="links">
                    <div class="home">Home</div>
                    <div class="orders">Orders</div>
                    <div class="wishlist">Wishlist</div>
                </div>
                <div class="buttons">
                    <div class="search"> <img src="images/vector@2x.png" alt=""></div>
                    <div class="account"> <img src="images/group-10@2x.png" alt=""></div>
                </div>
                <div class="hambuger">
                    <img src="images/hambuger.svg" alt="">
                </div>
                <div class="close">
                    <img src="images/close.svg" alt="">
                </div>
            </div>
        </nav>
        <h1><b>My Orders</b></h1>
        <div class="cards">
            <p><%= noof %></p>
            <p class="p1"><%= try1 %></p>
            <% for(let index=1;index<=b.length ;index++) { %>
                <div class="card">
                    <div class="content">
                        <div class="title width ellipse-2 three-lines">
                            <b><%= b[index-1].title %> </b>
                        </div>
                        <div class="author width ellipse three-lines">
                            <%= b[index-1].author %>
                        </div>
                        <div class="genre width ellipse three-lines">
                            <%= b[index-1].genre %>
                        </div>
                        <div class="date">
                            Ordered on:<%= b[index-1].date %>
                        </div>
                        <div class="returndate">
                            Return by:<%= b[index-1].returndate %>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <script>

            const nav1 = document.querySelector("nav")
            const img = document.querySelector(".logo").querySelector("img")
            const heading = document.querySelector("h1").querySelector("b")
            window.addEventListener("scroll", () => {
                if (window.scrollY >= 35) {
                    nav1.classList.add('purple')
                    heading.style.visibility = "hidden"
                    img.src = "https://scif.iitdh.ac.in/wp-content/uploads/2021/02/LOGO.png"
                    img.style.filter = "invert(1)"
                }
                else if (window.scrollY < 35) {
                    nav1.classList.remove('purple')
                    heading.style.visibility = "visible"
                    img.src = "images/logo-black-final-5@2x.png"
                    img.style.filter = "invert(0)"
                }
            })

            document.querySelector(".hambuger").querySelector("img").addEventListener("click", () => {
                document.querySelector(".links").style.visibility = "visible"
                document.querySelector(".close").querySelector("img").style.visibility = "visible"
                document.querySelector(".buttons").style.visibility = "hidden"
                document.querySelector(".links").style.backgroundColor = "#89288f"
                document.querySelector(".links").style.right = 0 + "px"
                document.querySelector(".hambuger").querySelector("img").style.visibility = "hidden"
                document.querySelector("h1").querySelector("b").style.visibility = "hidden"
            })

            document.querySelector(".close").querySelector("img").addEventListener("click", () => {
                document.querySelector(".links").style.right = -100 + "%"
                document.querySelector(".close").querySelector("img").style.visibility = "hidden"
                document.querySelector(".buttons").style.visibility = "visible"
                document.querySelector(".hambuger").querySelector("img").style.visibility = "visible"
                document.querySelector("h1").querySelector("b").style.visibility = "visible"
            })


            document.querySelector(".home").addEventListener("click", () => {
                window.location = `${window.location.origin}/landingpage`

            })
            document.querySelector(".search").addEventListener("click", () => {
                window.location = `${window.location.origin}/search`

            })
            document.querySelector(".wishlist").addEventListener("click", () => {
                window.location = `${window.location.origin}/wishlist`
            })
            document.querySelector(".account").addEventListener("click", () => {
                window.location = `${window.location.origin}/profile`
            })

            let a = document.querySelectorAll(".card")
            Array.from(a).forEach(element => {
                element.addEventListener("click", () => {
                    let newloc = element.querySelector(".title").innerHTML.trim()
                    console.log(newloc)
                    window.location = `${window.location.origin}/mybook/${newloc}`
                })
            });
            function compareDates(dateString1, dateString2) {
                // Create Date objects from the input date strings
                let date1 = new Date(dateString1);
                let date2 = new Date(dateString2);

                // Compare the dates
                if (date1 < date2) {
                    return -1;
                } else if (date1 > date2) {
                    return 1;
                } else {
                    return 0;
                }
            }
            let nowdate = new Date();
            let nowdate1 = `${nowdate}`.split("GMT")[0]
            let nowdate2=nowdate1.slice(0,nowdate1.length-9)
            Array.from(document.querySelectorAll(".card")).forEach(element => {
                // console.log(element)
                if (compareDates((nowdate2), (element.querySelector(".content").querySelector(".returndate").innerHTML.trim())) == 1) {
                    element.style.backgroundColor = "rgb(138 23 23)"
                }
            });
            document.querySelector(".p1").addEventListener("click",()=>{
                window.location="/wishlist"
            })
            

        </script>
</body>

</html>
