<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="x-icon" href="https://scif.iitdh.ac.in/wp-content/uploads/2021/02/LOGO.png">
    <link rel="stylesheet" href="search_style.css">
</head>

<body>
    <div class="mainbox">
        <nav>
            <div class="logo">
                <img src="images/logo-black-final-5@2x.png" alt="">
            </div>

            <form>
                <div class="img">
                    <img src="images/vector@2x.png" alt="">
                </div>
                <input class="search" type="text" placeholder="Search" name="search" >
                <div class="dropbox">
                    <div class="branch computer">Computer Science</div>
                    <div class="branch electrical">Electrical Engineering</div>
                    <div class="branch mechanical">Mechanical Engineering</div>
                    <div class="branch civil">Civil Engineering</div>
                    <div class="branch ep">Engineering Physics</div>
                    <div class="branch chemical">Chemical Engineering</div>
                </div>
                <div class="filter">
                    filters
                </div>
                <div class="close">
                    <img src="images/close.svg" alt="">
                </div>
            </form>

            <div class="home">
                <img src="images/home.png" alt="">
            </div>
        </nav>
        <div class="cards">
            <p><b><%= nobooks %></b></p>
            <% for(let index=1;index<=b.length ;index++) { %>
                <div class="card">
                    <div class="content">
                    <div class="title width ellipse-2 three-lines"> <b><%= b[index-1].title %> </b></div>
                    <div class="author width ellipse three-lines"><%= b[index-1].author %></div>
                    <div class="deparment author width ellipse three-lines"><%= b[index-1].department %></div>
                    <div class="genre author width ellipse three-lines"><%= b[index-1].genre %></div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <script>
        const nav1 = document.querySelector("nav");
        window.addEventListener("scroll", () => {
            if (window.scrollY >= 40) {
                // console.log("yes")
                nav1.classList.add('black')
                document.querySelector(".logo").querySelector("img").src = "https://scif.iitdh.ac.in/wp-content/uploads/2021/02/LOGO.png"
                document.querySelector(".logo").querySelector("img").style.filter = "invert(1)"
                document.querySelector(".logo").querySelector("img").style.width = 75 + "px"
                document.querySelector(".logo").querySelector("img").style.height = 76 + "px"

            }
            else if (window.scrollY < 20) {
                nav1.classList.remove('black')
                document.querySelector(".logo").querySelector("img").src = "images/logo-black-final-5@2x.png"
                document.querySelector(".logo").querySelector("img").style.filter = "invert(0)"
                document.querySelector(".logo").querySelector("img").style.width=55+"px"
                document.querySelector(".logo").querySelector("img").style.height = 90 + "px"
            }
        })
        document.querySelector(".computer").addEventListener("click", () => {
            // console.log("yes")
            // window.location="/hi"
        })
        document.querySelector(".filter").addEventListener("click", () => {
            document.querySelector(".dropbox").style.visibility = "visible"
            document.querySelector(".close").style.visibility = "visible"
            document.querySelector(".img").querySelector("img").style.filter = "invert(1)"
        })
        document.querySelector(".close").addEventListener("click", () => {
            document.querySelector(".dropbox").style.visibility = "hidden"
            document.querySelector(".close").style.visibility = "hidden"
            document.querySelector(".img").querySelector("img").style.filter = "invert(0)"
        })
          
        Array.from(document.querySelectorAll(".branch")).forEach(element => {
            
            element.addEventListener("click",()=>{
                window.location=`${window.location.href.split("?")[0]}?search=${element.innerHTML}`
            })
        });
        

        let a = document.querySelectorAll(".card")
        Array.from(a).forEach(element => {
            element.addEventListener("click", () => {
                let newloc = element.querySelector(".title").querySelector("b").innerHTML.trim()
                console.log(newloc)
                window.location = `/${newloc}`
            })
        });
        setTimeout(() => {
            document.location.reload()
        }, 30000);
        document.querySelector(".home").addEventListener("click",()=>{
            window.location="/landingpage"
        })
    </script>
</body>

</html>
